/* Container for Dark Mode Toggle */
.dark_mode {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-top: 10px;
    padding-right: 10px;    
}

/* Hidden Checkbox Input */
.dark_mode_input {
    display: none;
}

/* Label for Toggle Button */
.dark_mode_label {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 60px;
    height: 30px;
    border-radius: 30px;
    position: relative;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

/* Icon Styling */
.mode-icon {
    position: absolute;    
    transition: opacity 0.3s ease-in-out, fill 0.3s ease-in-out;
}

/* Specific Icon Styles */
.sun-icon, .moon-icon {
    width: 20px;
    height: 20px;
}

.sun-icon {
    right: 7px;
    opacity: 1; 
    fill: yellow; 
}

.moon-icon {
    top: 5px;
    left: 5px;
    opacity: 0;
}

/* Initial Label Background Color */
.dark_mode_label {
    background-color: #ef8f1c;
}

/* Label Background Color When Checked */
.dark_mode_input:checked + .dark_mode_label {
    background-color: #3462eb;
}

/* Slider Button */
.slider {
    position: absolute;
    left: 3px;
    width: 22px;
    height: 22px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

/* Slider Position When Checked */
.dark_mode_input:checked + .dark_mode_label .slider {
    transform: translateX(30px);
}

/* Icon Visibility When Checked */
.dark_mode_input:checked + .dark_mode_label .moon-icon {
    opacity: 1;
}

.dark_mode_input:checked + .dark_mode_label .sun-icon {
    opacity: 0;
}

/* Media Queries for Responsive Design */
@media (max-width: 810px) {
    .dark_mode_label {
        width: 50px;
        height: 25px;
    }
    
    .mode-icon {
        width: 18px;
        height: 18px;
    }
    
    .slider {
        width: 18px;
        height: 18px;
    }
    
    .dark_mode_input:checked + .dark_mode_label .slider {
        transform: translateX(25px);
    }
}
